@use "variables" as *;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effectDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin input-box() {
  box-sizing: border-box;
  padding: 14px 16px;
  width: 100%;

  text-align: left;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: $color-white;

  &:hover {
    border: 1px solid $grey-scale-light-60;
    padding-left: 15px;
    padding-block: 13px;
  }

  &:active,
  &:focus {
    border: 2px solid $grey-scale-very-dark-100;
    padding-left: 14px;
    padding-block: 12px;
  }
}

@mixin cursor-mouse() {
  cursor: url(../images/icon/cursor-mouse-mice.svg), auto;
}
