$smile-mobile-max-width: 320px;
$mobile-max-width: 426px;
$tablet-min-width: 769px;
$desktop-min-width: 1025px;
$large-desktop-width: 1440px;

$effectDuration: 0.3s;
$grey-scale-very-dark-100: #222324;
$grey-scale-dark-80: #484b4e;
$grey-scale-light-60: #adb5bd;
$background-color: #121212;
$color-white: #fff;
$primary-color: #ec5028;
$primary-color-hover: #ed3000;
$primary-color-disabled: #e68268;
