$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$grey-scale-very-dark-100: #222324;
$grey-scale-dark-80: #484b4e;
$grey-scale-light-60: #adb5bd;
$background-color: #121212;
$color-white: #fff;
$primary-color: #ec5028;
$primary-color-hover: #ed3000;
$primary-color-disabled: #e68268;
