@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/covered" as *;

.hero {
  text-align: center;
  padding: 80px 40px 160px;

  h1 {
    font-size: 96px;
    margin: 160px auto 24px;
    transition: font-size 0.3s ease;
  }

  &__paragraph {
    max-width: 600px;
    margin: 0 auto 40px;
    transition: font-size 0.3s ease;

    span {
      display: block;
      margin-bottom: 4px;
      font-size: var(--h5-size);
      line-height: var(--h5-line-height);
      letter-spacing: var(--h5-letter-spacing);
      font-weight: var(--h5-font-weight);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    &__input-wrapper {
      display: flex;
      align-items: center;
      background-color: $grey-scale-very-dark-100;
      padding: 0 12px;
      height: 48px;
      width: 452px;
      transition: width 0.3s ease;
    }

    &__input {
      border: none;
      background-color: transparent;
      color: $grey-scale-light-60;
      font-size: 14px;
      padding: 8px;
      flex-grow: 1;
      width: 100%;

      &::placeholder {
        color: $grey-scale-light-60;
      }
    }

    &__button {
      height: 48px;
      width: 88px;
      border: 2px solid $primary-color;
      border-radius: 30px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $primary-color-hover;
        color: $color-white;
      }
    }
  }

  // Для екранів 768px до 426px
  @include on-mobile {
    h1 {
      font-size: 64px;
    }

    &__paragraph span {
      font-size: 14px;
    }

    .search-bar {
      flex-wrap: nowrap;
      flex-direction: row;

      &__input-wrapper {
        width: 452px;
      }

      &__button {
        width: 88px;
      }
    }
  }

  // Для екранів 425px
  @include on-small-mobile {
    padding: 80px 16px 156px;

    h1 {
      font-size: 36px;
    }

    &__paragraph span {
      font-size: 12px;
    }

    .search-bar {
      flex-direction: column;
      align-items: center;

      &__input-wrapper {
        width: 288px;
        margin-bottom: 8px;
      }

      &__button {
        width: 312px;
        margin-left: 0;
      }

      &__input {
        font-size: 12px;
      }
    }
  }

  // 320
  @include on-mini-mobile {
    h1 {
      font-size: 36px;
    }

    &__paragraph span {
      font-size: 12px;
    }

    .search-bar {
      flex-direction: column;
      align-items: center;

      &__input-wrapper {
        width: 258px;
        margin-bottom: 8px;
      }

      &__button {
        width: 280px;
        margin-left: 0;
      }
    }
  }
}
