@use "./utils/variables.scss" as variables;
@use "utils/index" as *;
@use "./utils/mixins" as *;

@use "./about.scss";
@use "./registration.scss";
@use "./blocks/page.scss";
@use "./blocks/footer.scss";

.auth {
  &__text {
    text-align: center;
    color: variables.$grey-scale-light-60;
  }

  &__login {
    margin: 40px 0 304px 0;
    color: variables.$grey-scale-light-60;
    text-align: center;

    @include on-mini-mobile {
      font-size: 10px;
    }

    @include on-small-mobile {
      font-size: 14px;
    }
  }

  &__input-code {
    color: variables.$color-white;
    cursor: pointer;
    background-color: variables.$grey-scale-very-dark-100;
    border: 1px solid variables.$grey-scale-dark-80;
    border-radius: 30px;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    transition: background-color 0.2s;
    display: flex;
    width: 404px;
    height: 24px;
    margin: 8px auto 0;

    @include on-tablet {
      width: 90%;
    }

    @include on-mobile {
      width: 75%;
    }

    @include on-small-mobile {
      width: 80%;
    }

    &.is-error {
      border: 1px solid variables.$primary-color-hover;
    }

    &::placeholder {
      color: variables.$grey-scale-light-60;
    }
  }

  &__button-text {
    color: variables.$color-white;
    text-decoration: none;
  }
}
