@use "./utils/variables.scss" as variables;

@use "utils/index";
@use "./blocks/page.scss";
@use "./blocks/footer.scss";
@use "./about.scss";

.auth {
  padding: 0 0 0 40px;
  background-color: variables.$background-color;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
    gap: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    color: variables.$color-white;
  }

  &__logo {
    width: 120px;
    margin: 0;
    padding: 160px 282px 0;
  }

  &__title {
    margin: 0;
    padding: 32px 0 0;
    text-align: center;
  }

  &__description {
    color: variables.$grey-scale-light-60;
    text-align: center;
    padding: 8px 0 42px;
    margin: 0;
  }

  &__button {
    color: variables.$color-white;
    cursor: pointer;
    background-color: variables.$grey-scale-very-dark-100;
    border: 1px solid variables.$grey-scale-dark-80;
    border-radius: 30px;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    transition: background-color 0.2s;
    display: flex;
    max-width: 440px;
    height: 44px;
    margin: 8px 144px 0;

    &:hover {
      background-color: variables.$grey-scale-dark-80;
    }

    &--google {
      margin-bottom: 12px;
    }

    &--apple {
      margin-bottom: 24px;
    }

    &--continue {
      background-color: variables.$primary-color;
      color: variables.$color-white;
      margin-top: 16px;
      border: none;

      &:hover {
        background-color: variables.$primary-color-hover;
      }

      &:focus {
        background-color: variables.$primary-color-disabled;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__divider {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 24px 144px 0;

    &-line {
      flex-grow: 1;
      height: 1px;
      background-color: variables.$grey-scale-dark-80;
    }

    &-text {
      color: variables.$grey-scale-dark-80;
      font-size: 14px;
    }
  }

  &__input {
    color: variables.$color-white;
    cursor: pointer;
    background-color: variables.$grey-scale-very-dark-100;
    border: 1px solid variables.$grey-scale-dark-80;
    border-radius: 30px;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    transition: background-color 0.2s;
    display: flex;
    max-width: 440px;
    height: 24px;
    margin: 8px 144px 0;

    &.is-error {
      border: 1px solid variables.$primary-color-hover;
    }

    &::placeholder {
      color: variables.$grey-scale-light-60;
    }
  }

  &__email-text {
    margin: 8px 144px;
  }

  &__login-quation {
    margin: 36px 144px 96px;
    color: variables.$grey-scale-light-60;
    text-align: center;
  }

  &__login-link {
    color: variables.$primary-color;
    text-decoration: underline;
    padding: 0 0 0 24px;

    &:hover {
      text-decoration: underline;
      color: variables.$primary-color-hover;
    }
  }

  &__gallery {
    &-image {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
