@use "./utils/variables.scss" as variables;
@use "./utils/mixins" as *;

@use "utils/index";
@use "./blocks/page.scss";
@use "./blocks/top-bar.scss";
@use "./blocks/container.scss";
@use "./blocks/footer.scss";
@use "./blocks/header.scss";
@use "./blocks/talents.scss";
@use "./main_talents.scss";

.team-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr;
  gap: 34px;
  max-width: 1600px;
  margin-bottom: 104px;
  padding-inline: 40px;
  box-sizing: border-box;

  @include on-tablet {
    gap: 34px 18px;
  }

  @include on-mobile {
    padding-inline: 20px;
    gap: 34px 18px;
  }

  @include on-small-mobile {
    grid-template-columns: 1fr 2fr;
    gap: 24px 12px;
    padding-inline: 16px;
  }
}

.web-team {
  &__title {
    font-size: 128px;
    text-align: center;
    padding-top: 136px;
    margin: 0 40px 96px;

    @include on-tablet {
      font-size: 96px;
      margin-bottom: 88px;
    }

    @include on-mobile {
      font-size: 56px;
      margin: 0 20px 72px;
    }

    @include on-small-mobile {
      font-size: 36px;
      margin: 0 16px 56px;
    }
  }
}

.block {
  &__number {
    grid-column: 1;

    @include on-small-mobile {
      grid-column: 1;
    }

    color: variables.$grey-scale-light-60;
  }

  &__position {
    grid-column: 2;

    @include on-small-mobile {
      grid-column: 1;
    }

    color: variables.$grey-scale-light-60;
  }

  &__content {
    grid-column: 3;

    @include on-small-mobile {
      grid-column: 2;
    }
  }

  &__number,
  &__position,
  &__content {
    font-size: 36px;

    @include on-tablet {
      font-size: 28px;
      padding-right: 16px;
    }

    @include on-mobile {
      font-size: 20px;
      padding-right: 8px;
    }

    @include on-small-mobile {
      font-size: 16px;
      padding-right: 8px;
    }
  }

  &__content-title {
    font-size: 48px;
    color: variables.$color-white;
    margin: 0 0 24px;

    @include on-tablet {
      font-size: 32px;
    }

    @include on-mobile {
      font-size: 24px;
    }

    @include on-small-mobile {
      font-size: 18px;
    }
  }

  &__content-text {
    font-size: 18px;
    color: variables.$grey-scale-light-60;
    margin: 0 0 24px;

    @include on-tablet {
      font-size: 16px;
    }

    @include on-mobile {
      font-size: 14px;
    }

    @include on-small-mobile {
      font-size: 12px;
    }
  }

  &__content-link {
    font-size: 16px;
    color: variables.$color-white;

    @include on-small-mobile {
      font-size: 14px;
    }
  }
}
